body {
    display: flex;
    flex-direction: column;
    overscroll-behavior: contain;
    align-items: center;
}

html {
    box-sizing: border-box;
    font-family: "Helvetica";
}

*, *:before, *:after {
    box-sizing: border-box;
}

#root {
    width: 100%;
    max-width: 500px;
}
